# Dart & Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
pubspec.lock
.metadata

# IntelliJ IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db